* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

#background {
    background-color: rgba(181, 189, 208, 1); 
    height: 100vh;
    padding-top: 1px;
}

#hormenu {
    margin-top: 0%;
    width: 15%;
}
#hormenu li{
    width:20%;
}
#hormenu a{
    display: flex;
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
}
#hormenu a:hover{
    background-color:rgba(102, 102, 102, 0.5);
    color: rgba(181, 189, 208, 1);
}
#hormenu li ul{
    display: none
}
#hormenu li:hover ul{
    display:block;
    position: absolute;
    margin-top: 0%;
    margin-right: 10%;
    border:1px solid rgba(102, 102, 102, 1);
    background: rgba(181, 189, 208, 1);
}
#hormenu li li {  
    width: 100%; 
}
#hormenu li li a {
    padding: 5% 2% 2% 0%;
}

#homenu {
    margin-top: 0%;
    width: 15%;
}
#homenu li{
    width:20%;
}
#homenu a{
    display: flex;
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
}
#homenu a:hover{
    background-color:rgba(102, 102, 102, 0.5);
    color: rgba(181, 189, 208, 1);
}
#homenu li ul{
    display: none
}
#homenu li:hover ul{
    display:block;
    position: absolute;
    margin-top: 0%;
    margin-right: 10%;
    border:1px solid rgba(102, 102, 102, 1);
    background: rgba(181, 189, 208, 1);
}
#homenu li li {  
    width: 100%; 
}
#homenu li li a {
    padding: 5% 2% 2% 0%;
}

.titolo {
    color: rgba(102, 102, 102, 1);
    text-align: center;
    font-size: 230%;
    margin-top: 2%;
}

.display {
    color: rgba(102, 102, 102, 1);;
    font-size: 170%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.grid-conteiner {
    margin-left: 35%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    max-width: 40%;
}

.grid-element {
    border: 1px solid rgba(102, 102, 102, 1);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    cursor: pointer;
}

.playerX {
    color: #0138ff;
}

.playerO {
    color: #01b9ff;
}

.controls {
    margin-top: 2%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.controls button {
    color: rgba(102, 102, 102, 1);
    border-radius: 17%;
    border: outset rgba(181, 189, 208, 0.8); ;
    font-size: 100%;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: rgba(49, 66, 94);
}

#reset {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(181, 189, 208, 0.8);
}